* {
  margin: 0;
  padding: 0;
  font-weight: normal;  
}

ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
  
body {
  width: 970px;
  font-family: Arial;
}

header, #top, footer {
  background-color: #174f78;
  color: #dbe7f0;
  padding: 0 0 0px 0;
}

img {
  display: inline-block;
  height: 100px;
  margin: 20px 0 0 20px;
}

#header-top-right {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  margin: 20px 0 0 280px;
}

#header-top-right a {
  color: yellow;
  text-decoration: underline;
}

header h5 {
  font-size: 0.8em;
  margin: 0 45px 5px 0;
}

#search {
  background-color: #666;
  box-shadow: 3px 3px 0px #444;
  padding: 10px 40px;
  border-radius: 10px;
}

input[type="form"] {
  height: 30px;
  width: 150px;
  text-align: center;
}

input[type="submit"] {
  background-color: #174f78;
  color: lightblue;
  padding: 7px;
  border-radius: 5px;
  box-shadow: 2px 2px 0px #444;
}

header ul {
  width: 80%;
  margin: 0px auto 0 auto;
  padding: 5px 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px 0px #444;
  background:#2774af;
  font-size: 1.4em;
  font-weight: 100;
}

header ul li {
  list-style-type: none;
  display: inline;
  margin: 0 15px;
}

header a {
  color: inherit;
  text-decoration: none;
}

#top, #bottom {
  text-align: center;
  padding: 10px 0;
}

#navigation, article {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 0 auto;
}

#navigation {
  width: 250px;
  list-style-position: inside;
}

#navigation li {
  margin-bottom: 0.5em;
}

#navigation a {
  color: inherit;
}

#top article {
  width: 550px;
}

#top article p {
  font-size: 0.8em;
}

#top h3 {
  color: yellow;
  font-style: italic;
  font-weight: normal;
  margin-top: 10px;
}
#top h4 {
  margin-top: 10px;
}

#bottom article {
  width: 350px;
  border-top: 3px solid #68a5d7;
  padding: 5px;
  margin: 0 10px;
}

#bottom article p, #bottom article ul {
  font-size: 0.8em;
}

#bottom article p {
  margin: 10px 0 0 0;
}

#bottom article ul {
  margin: 0;
}

article a {
  text-decoration: none;
  color: lightblue;
}

article ul {
  list-style-type: square;
}

footer {
  text-align: center;
  color: 77b4e3;
  padding: 30px 0 10px 0;
}

footer h4 {
  display: inline-block;
  margin: 10px 20px;
}

.blue {
  color: lightblue;
}